---
import Navigation from '../../layouts/Navigation.astro';
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  const allTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]

  const generateTagProps = async (tag) => {

    const postsRelativeToTag = allPosts.filter((post) => post.frontmatter.tags.includes(tag))

    return { params: { tag }, props: { posts: postsRelativeToTag, allTags } }
  }

  const params = allTags.map(async (tag) => await generateTagProps(tag))

  return Promise.all(params)
}

const { tag: currentTag } = Astro.params;
const { posts, allTags } = Astro.props

const otherTags = allTags.filter(tag => tag !== currentTag)
---
<Navigation pageTitle={currentTag}>
  <p>Posts tagged with {currentTag}</p>
  <p>Other tags: {otherTags.map((tag) => <a class="tag" href=`/tags/${tag}`>{tag}</a>)}</p>
  {!posts.length && <h2>There is no posts with this tag</h2>}
  {posts?.map(({ frontmatter, ...post }) =>
    <BlogPost title={frontmatter.title} url={post.url} publicationDate={frontmatter.pubDate} description={frontmatter.description} />
  )}
</Navigation>

<style>
  .tag {
    margin-right: 5px;
  }
</style>
